.nav
{
    position: fixed;
    top : 0;
    width : 100%;
    padding: 20px;
    height : 30px;
    z-index: 2543545452353543534;

    display: flex;
    justify-content: space-between;

    /* animations */

    transition-timing-function: ease-in;
    transition : all 0.5s;
    
}

.nav__black
{
    background-color : #111;
}


.nav__logo1010
{
   position: fixed;
   left : 664px;
   width : 192px;
   object-fit : contain;
   top : 4px;

}

.nav__avatar{
    position: fixed;
    right: 20px;
    width: 35px;
    border-radius: 50%;
    object-fit: contain;
}
.nav__avatar2{
    position: fixed;
    right: 72px;
    width: 36px;
    top: 20px;
    border-radius: 50%;
    object-fit: contain;
}

.nav__avatar3
{
    position: fixed;
    right: 17px;
    width: 38px;
    top: 19px;
    border-radius: 50%;
    object-fit: contain;

}

/*  */

.navigation
{
    display : flex;
}

.navigation li
{
    list-style: none;
    margin : 0 10px;
}

.link
{
    color : #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}


.link:hover
{
    color : #F27237;
}
